body{
    font-family:Arial;
}
li{
    margin:10px;
}
li:last-child{
    font -weight:bold;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:orange;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
}
h1{
    color:white;
}
.categories{
    display:flex;
    gap:20px;
    padding:30px;
}

.food{
    background:orange;
    color:white;
    padding:20px;
    border-radius:10px;
}
.restaurants{
    display:flex;
    gap:20px;
    padding:30px;
}

.card{
    border:1px solid gray;
    padding:20px;
    width:200px;
    border-radius:10px;
}
.card:hover{
    transform:scale(1.05);
    box-shadow:0px 4px 10px gray;
}
input{
    padding:12px;
    width:300px;
    border-radius:5px;
}
footer{
    background:orange;
    color:white;
    text-align:center;
    padding:20px;
}
button:hover{
    background:red;
}