body{
    margin:0;
    font-family:Arial;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:orange;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
}
h1{
    color:white;
}
.categories{
    display:flex;
    gap:20px;
    padding:30px;
}

.food{
    background:orange;
    color:white;
    padding:20px;
    border-radius:10px;
}
.restaurants{
    display:flex;
    gap:20px;
    padding:30px;
}

.card{
    border:1px solid gray;
    padding:20px;
    width:200px;
    border-radius:10px;
}